<!doctype html>
<html>

<head>
	<title> Results </title>
<style>
body{
background-image: url(https://c1.staticflickr.com/4/3626/3637343338_cf1b381fc4_b.jpg)
}

</style> 
</head>

<body>
<style>
  .bordered {
    width: 500px;
    height: 1000px;
    padding: 200x;
    border: 3px solid DARKRED;
    background: DARKRED;
  }
</style>
<div class="bordered">
<h1 align="center"> <font color="FDEDEC"><b> <font size="18"> Your results: </font> </b> </font> </h1>
    <style>
    body {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
  </style>
{% if error == 0 %}
	{% for item in result %}
		<b> Name: {{ item[0] }}</b>
		<br>
		<b> Rating: </b> <img src="{{ item[1] }}" alt="rating";">
		<br>
		<b> Telephone number: {{ item[2] }} </b>
		<br>
		<b> Address: {{ item[3] }}</b>
		<br>
		<br>
	{% endfor %} 
{% else %}
 	<b> wrong postcode </b>
{% endif %}

  <br>
</body>
</html>